# This file defines a reusable GitHub Actions workflow for PHP projects.
# It runs linting and unit tests across multiple PHP versions, only running tests if a test directory exists.

name: PHP Workflow
run-name: PHP run-name

on:
  workflow_call:
    inputs:
      php-versions:
        type: string
        description: 'PHP versions to test against, JSON encoded array of strings.'
        default: '["8.2", "8.3", "8.4"]'
      php-extensions:
        type: string
        description: 'PHP extensions to install, comma separated list of strings.'
      dependencies:
        type: string
        description: 'Dependencies to install, JSON encoded map of path => repository url.'
        default: '{}'

# Prevent multiple runs of the same workflow from overlapping on the same branch/PR.
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        php: ${{ fromJson(inputs.php-versions) }}
    uses: ./.github/workflows/phplint.yml
    with:
      php-version: ${{ matrix.php }}

  test-exists:
    runs-on: ubuntu-latest
    name: Check unit tests exist
    outputs:
      exists: ${{ steps.check.outputs.exists }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '1'

      - name: Check directory
        id: check
        run: |
          if [ -d "test" ]; then
            echo "Test directory exists"
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "Test directory does not exist"
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

  test:
    name: Unit tests
    needs: test-exists
    if: needs.test-exists.outputs.exists == 'true'
    strategy:
      matrix:
        php: ${{ fromJson(inputs.php-versions) }}
    uses: ./.github/workflows/phpunit.yml
    with:
      php-version: ${{ matrix.php }}
      php-extensions: ${{ inputs.php-extensions }}
      dependencies: ${{ inputs.dependencies }}

  stan:
    name: PHPStan
    strategy:
      matrix:
        php: ${{ fromJson(inputs.php-versions) }}
    uses: ./.github/workflows/phpstan.yml
    with:
      php-version: ${{ matrix.php }}
      php-extensions: ${{ inputs.php-extensions }}
      dependencies: ${{ inputs.dependencies }}
