on:
  workflow_call:
    inputs:
      php-version:
        type: string
        required: true
        description: 'PHP versions to test against.'
      php-extensions:
        type: string
        description: 'PHP extensions to install, comma separated list of strings.'
      dependencies:
        type: string
        description: 'Dependencies to install, JSON encoded map of path => repository url.'
        default: '{}'

jobs:
  lint:
    name: Lint PHP ${{ inputs.php-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/hello-world-composite-action
        with:
          php-version: ${{ inputs.php-version }}
          php-extensions: ${{ inputs.php-extensions }}
          dependencies: ${{ inputs.dependencies }}
          php-tools: parallel-lint, phpcs

      - name: Lint
        run: parallel-lint --exclude vendor .

      - name: Create phpcs.xml
        if: hashFiles('phpcs.xml') == ''
        run: |
          cat <<'EOF' >phpcs.xml
          <?xml version="1.0"?>
          <ruleset name="PSR12">
              <!-- Test all PHP files except those in vendor/ -->
              <file>./</file>
              <arg name="extensions" value="php"/>
              <exclude-pattern>vendor/*</exclude-pattern>
          
              <arg name="report-width" value="auto"/>
              <arg name="report-full"/>
              <arg name="report-gitblame"/>
              <arg name="report-summary"/>
              <arg name="encoding" value="UTF-8"/>
          
              <rule ref="PSR12"/>
          </ruleset>
          EOF

      - name: Check Code Style
        run: |
          phpcs -wps --colors
          #phpcs -q --report=checkstyle src | cs2pr
