on:
  workflow_call:
    inputs:
      php-version:
        type: string
        required: true
        description: 'PHP versions to test against.'
      php-extensions:
        type: string
        description: 'PHP extensions to install, comma separated list of strings.'
      dependencies:
        type: string
        description: 'Dependencies to install, JSON encoded map of path => repository url.'
        default: '{}'
      phar-run-id:
        type: string

# Prevent multiple runs of the same workflow from overlapping on the same branch/PR.
#concurrency:
#  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: true

jobs:
  phpstan:
    name: PHPStan ${{ inputs.php-version }}
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP and dependencies
        uses: Icinga/github-actions/.github/actions/php-and-dependencies@php-workflow
        with:
          php-version: ${{ inputs.php-version }}
          php-extensions: ${{ inputs.php-extensions }}
          dependencies: ${{ inputs.dependencies }}
          php-tools: phpstan

      - name: Download PHAR
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: phpstan-adjust-scandirs.phar
#          repository: Icinga/github-actions
#          run-id: ${{ inputs.phar-run-id }}
#          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Adjust PHPStan scanDirectories
        if: hashFiles('phpstan.neon') != ''
        uses: Icinga/github-actions/.github/actions/phpstan-adjust-scandirs@php-workflow
        with:
          config: phpstan.neon
          scanDirs: ${{ env.PHPSTAN_SCAN_DIRS }}

      - name: Run PHPStan
        run: phpstan analyse
