name: PHPStan

on:
  workflow_call:
    inputs:
      php-version:
        type: string
        required: true
        description: 'PHP versions to test against.'
      php-extensions:
        type: string
        description: 'PHP extensions to install, comma separated list of strings.'
      dependencies:
        type: string
        description: 'Dependencies to install, JSON encoded map of path => repository url.'
        default: '{}'

# Prevent multiple runs of the same workflow from overlapping on the same branch/PR.
concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  phpstan:
    name: PHPStan ${{ inputs.php-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: Icinga/github-actions/.github/actions/php-and-dependencies@php-workflow
        name: Setup PHP and dependencies
        with:
          php-version: ${{ inputs.php-version }}
          php-extensions: ${{ inputs.php-extensions }}
          dependencies: ${{ inputs.dependencies }}
          php-tools: phpstan

      - name: Run PHPStan
        run: phpstan analyse
