on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: .

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      phar: ${{ steps.phar.outputs.phar }}
    steps:
      - uses: Icinga/github-actions/.github/actions/php-and-dependencies@php-workflow
        name: Setup PHP and dependencies
        with:
          php-version: 8.4
          working-directory: ${{ inputs.working-directory }}

      - name: Build PHAR
        working-directory: ${{ inputs.working-directory }}
        id: phar
        run: |
          php -d phar.readonly=0 vendor/bin/phar-composer build
          echo "::set-output name=phar::$(pwd)/phpstan-adjust-scandirs.phar"
