on:
  workflow_call:
    inputs:
      php-version:
        type: string
        required: true
        description: 'PHP versions to test against.'
      php-extensions:
        type: string
        description: 'PHP extensions to install, comma separated list of strings.'
      dependencies:
        type: string
        description: 'Dependencies to install, JSON encoded map of path => repository url.'
        default: '{}'

jobs:
  phpstan:
    name: PHPStan ${{ inputs.php-version }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP and dependencies
        uses: Icinga/github-actions/.github/actions/php-and-dependencies@php-workflow
        with:
          php-version: ${{ inputs.php-version }}
          php-extensions: ${{ inputs.php-extensions }}
          dependencies: ${{ inputs.dependencies }}
          php-tools: phpstan

      - name: Adjust PHPStan scanDirectories
        if: ${{ hashFiles('phpstan.neon') != '' && env.PHPSTAN_SCANDIRS != '' }}
        uses: Icinga/github-actions/.github/actions/phpstan-adjust-scandirs@php-workflow

      - name: Run PHPStan
        run: |
          if [ -f phpstan.neon ]; then
            phpstan analyse || true
          else
            phpstan analyse $(find . -mindepth 1 -maxdepth 1 -type d -not -path ./vendor) || true
          fi
