on:
  workflow_call:
    inputs:
      php-version:
        type: string
        required: true
        description: 'PHP versions to test against.'
      php-extensions:
        type: string
        description: 'PHP extensions to install, comma separated list of strings.'
      dependencies:
        type: string
        description: 'Dependencies to install, JSON encoded map of path => repository url.'
        default: '{}'

jobs:
  test:
    name: Unit tests PHP ${{ inputs.php-version }}
    runs-on: ubuntu-latest
    steps:
      - uses: Icinga/github-actions/php-baseline@php-workflow
        with:
          php-version: ${{ inputs.php-version }}
          php-extensions: ${{ inputs.php-extensions }}
          dependencies: ${{ inputs.dependencies }}
          php-tools: phpunit

      - name: PHPUnit
        run: phpunit --bootstrap /usr/share/icingaweb2/test/php/bootstrap.php
