on:
  workflow_call:
    inputs:
      php-version:
        type: string
        required: true
        description: 'PHP versions to test against.'
      php-extensions:
        type: string
        description: 'PHP extensions to install, comma separated list of strings.'

jobs:
  test:
    name: Unit tests PHP ${{ inputs.php-version }}
    if: hashFiles('phpunit.xml') != ''
    runs-on: ubuntu-latest
    steps:
      - uses: Icinga/github-actions/.github/actions/php-and-dependencies@php-workflow
        name: Setup PHP and dependencies
        with:
          php-version: ${{ inputs.php-version }}
          php-extensions: ${{ inputs.php-extensions }}
          php-tools: phpunit

      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Run PHPUnit
        run: |
          if [ -n "$PHPUNIT_BOOTSTRAP" ]; then
            phpunit --bootstrap "$PHPUNIT_BOOTSTRAP"
          else
            phpunit
          fi
