name: Sync Description to Docker Hub

on:
  workflow_call:
    inputs:
      repository:
        required: false
        type: string
        description: 'The repository name in the format "owner/repo".'
      readme_filepath:
        required: false
        type: string
        description: 'Path to the README file to sync with Docker Hub. Defaults to "./doc/02-installation.md.d/For-Container.md".'
    secrets:
      dockerhub_username:
        required: true
        description: 'Username for Docker Hub.'
      dockerhub_token:
        required: true
        description: 'Personal access token for Docker Hub.'

env:
  # If we did not receive a custom repository name from the workflow call inputs, we use
  # the repository name prefixed with "icinga/" as the default repository name.
  REPOSITORY: ${{ inputs.repository || format('icinga/{0}', github.event.repository.name) }}

  # The path to the README file to sync with Docker Hub.
  README_FILEPATH: ${{ inputs.readme_filepath || './doc/02-installation.md.d/For-Container.md' }}

jobs:
  sync:
    name: Sync Description to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sync For-Container.md
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.dockerhub_username }}
          password: ${{ secrets.dockerhub_token }}
          repository: ${{ env.REPOSITORY }}
          readme-filepath: ${{ env.README_FILEPATH }}
